<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="../flont/styles/style.css">

</head>
<body>
    <div class="main_space">
    </div>
    <script>
        let Socket = io()
    </script>
    <script src="../flont/js-scripts/main.js"></script>
    <script src="../flont/doms/game_page.js"></script>
    <script src="../flont/doms/title_page.js"></script>
    <script src="../flont/reder-script/move_url.js"></script>
    <script src="../flont/reder-script/write_functions.js"></script>
    <script src="../flont/reder-script/analysis_url.js"></script>
    <script src="../flont/js-scripts/socket_on.js"></script>
    <script src="../flont/js-scripts/socket_emit.js"></script>

    <script src="../flont/game-files/funs.js"></script>
    <script src="../flont/game-files/init.js"></script>
    <script src="../flont/game-files/write_ui.js"></script>

    <script src="../flont/game-files/mian.js"></script>
    <script src="../flont/game-files/game_system.js"></script>




</body>
</html>