body{
    margin: 0;
    padding: 0;
    font-family: serif;

}
.main_space{
    background-color: red;

    width: 100%;
    height: 100vh;
    /* background: linear-gradient(150deg, rgb(88, 153, 88), rgb(88, 153, 135),rgb(88, 142, 153)); */
    /* background: linear-gradient(150deg, #43ce8f,#187e9d); */
    background: linear-gradient(150deg, #3c9d71,#2e95a7);

    background: linear-gradient(150deg, #3b966d,#2e95a7);


}
.main_warpp9{
   

    width: 600px;
    aspect-ratio: 600 / 600;
    /* background-color: red; */
    /* display: flex; */
    /* position: absolute; */
    /* top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; */
    position: relative;
    top: 50%;
    -webkit-transform : translateY(-50%);
    transform : translateY(-68%);
    margin: auto;
    
}
.canvas{
    border-radius: 20px;
    border: solid 1px white;
    margin-top: 30px;

}

@media (max-width:630px){
    .canvas{
        width: 100%;
    }
    .main_warpp9{


        width: 90%;


    }
    .test{

    }
    .header{
        display: flex;
        justify-content: space-between;
    }
    .black{
        width: 80px;
        height: 40px;
        border-radius: 25px;
        border: solid 1px white;
        right: 0;
        margin-top: 10px;
        margin-right: 10px;
        display: flex;
    
    }
    .white{
        width: 80px;
        height: 40px;
        border-radius: 25px;
        border: solid 1px white;
        right: 0;
        display: flex;
        margin-top: 10px;
        margin-right: 10px;
    
    }
    .black_block{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: rgb(52, 51, 51);
        margin-top: 4.2px;
        margin-left: 4px;
    }
    .white_block{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: rgb(221, 238, 224);
        
        margin-top: 4.2px;
        margin-left: 4px;
    }
    .block_num{
        font-size: 140%;
        margin: auto;
        margin-left: 7px;
        color: rgb(52, 51, 51);
    }
    .block_num2{
        font-size: 140%;
        margin: auto;
        margin-left: 7px;
        color: rgb(221, 238, 224);
    }
}
@media (min-width:630px){
    .turn_timer{
        width: 120px;
        height: 50px;
        border-radius: 30px;
        border: solid 1px white;

        margin: auto;



        /* background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-right-color: rgba(255, 255, 255, 0.2);
        border-bottom-color: rgba(255, 255, 255, 0.2);

        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        line-height: normal;  */
        /* background-color: red;*/
    }
    .turn_timer_text{
        font-size: 180%;
        margin-left: 31px;
        margin-top: 10px;
        color: rgb(56, 56, 56);


    }
}
@media (max-width:630px){
    .turn_timer{
        width: 120px;
        height: 50px;
        border-radius: 30px;
        border: solid 1px white;


        margin: auto;
        display: flex;


        /* background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-right-color: rgba(255, 255, 255, 0.2);
        border-bottom-color: rgba(255, 255, 255, 0.2);

        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        line-height: normal;  */
        /* background-color: red;*/
    }
    .turn_timer_text{
        font-size: 180%;
        /* position: relative; */


        margin: auto;

        margin: auto;
        color: rgb(56, 56, 56);


    }
    .test{
        width: 35%;
    }
    .black_user{
        width: 100%;
        height: 30px;
        border: solid 1px white;
        border-radius: 20px;
        margin-top: 10px;
        margin-left:10px ;
        display: flex;

    }
    .white_user{
        width: 100%;
        height: 30px;
        border: solid 1px white;
        border-radius: 20px;
        margin-top: 10px;
        margin-left:10px ;
        display: flex;
        overflow: hidden;
    }
    .black_user_name{
        color: rgb(56, 56, 56);
        margin: auto;
        margin-left: 4px;
        overflow: hidden;
        text-overflow: ellipsis; 
        white-space: nowrap;
    }
    .white_user_name{
        color:rgb(221, 238, 224);
        margin: auto;
        margin-left: 4px;
        /* width: 74%; */
        display: block;
        overflow: hidden;
        text-overflow: ellipsis; 
        white-space: nowrap;
    }
    .user_ls{
        /* display: flex;
        margin: auto;
        margin-left:4px ; */
        display: flex;
    }
    .black_user_black{
        width: 23px;
        height: 23px;
        border-radius: 50%;
        background-color: rgb(56, 56, 56);
        margin: auto;
        margin-left: 4px;
        
    }
    .whtie_user_white{
        width: 23px;
        height: 23px;
        border-radius: 50%;
        background-color: rgb(221, 238, 224);
        margin: auto;
        margin-left: 4px;
        /* margin-right: 0; */
    }

}
