body{
    margin: 0;
    padding: 0;
    font-family: serif;

}


.main_space{
    background-color: red;

    width: 100%;
    height: 100vh;
    /* background: linear-gradient(150deg, rgb(88, 153, 88), rgb(88, 153, 135),rgb(88, 142, 153)); */
    /* background: linear-gradient(150deg, #43ce8f,#187e9d); */
    background: linear-gradient(150deg, #3c9d71,#2e95a7);

    background: linear-gradient(150deg, #3b966d,#2e95a7);


}
.main_warpp9{
   

    width: 600px;
    aspect-ratio: 600 / 600;
    /* background-color: red; */
    /* display: flex; */
    /* position: absolute; */
    /* top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; */
    position: relative;
    top: 50%;
    -webkit-transform : translateY(-50%);
    transform : translateY(-68%);
    margin: auto;
    
}
.canvas{
    border-radius: 20px;
    border: solid 1px white;
    margin-top: 30px;

}

@media (max-width:630px){
    .canvas{
        width: 100%;
    }
    .main_warpp9{


        width: 90%;


    }
    .test{

    }
    .header{
        display: flex;
        justify-content: space-between;
    }
    .black{
        width: 80px;
        height: 40px;
        border-radius: 25px;
        border: solid 1px white;
        right: 0;
        margin-top: 10px;
        margin-right: 10px;
        display: flex;
    
    }
    .white{
        width: 80px;
        height: 40px;
        border-radius: 25px;
        border: solid 1px white;
        right: 0;
        display: flex;
        margin-top: 10px;
        margin-right: 10px;
    
    }
    .black_block{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: rgb(52, 51, 51);
        margin-top: 4.2px;
        margin-left: 4px;
    }
    .white_block{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: rgb(221, 238, 224);
        
        margin-top: 4.2px;
        margin-left: 4px;
    }
    .block_num{
        font-size: 140%;
        margin: auto;
        margin-left: 7px;
        color: rgb(52, 51, 51);
    }
    .block_num2{
        font-size: 140%;
        margin: auto;
        margin-left: 7px;
        color: rgb(221, 238, 224);
    }
}
@media (min-width:630px){
    .turn_timer{
        width: 120px;
        height: 50px;
        border-radius: 30px;
        border: solid 1px white;

        margin: auto;



        /* background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-right-color: rgba(255, 255, 255, 0.2);
        border-bottom-color: rgba(255, 255, 255, 0.2);

        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        line-height: normal;  */
        /* background-color: red;*/
    }
    .turn_timer_text{
        font-size: 180%;
        margin-left: 31px;
        margin-top: 10px;
        color: rgb(56, 56, 56);


    }
}
@media (max-width:630px){
    .turn_timer{
        width: 120px;
        height: 50px;
        border-radius: 30px;
        border: solid 1px white;


        margin: auto;
        display: flex;


        /* background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-right-color: rgba(255, 255, 255, 0.2);
        border-bottom-color: rgba(255, 255, 255, 0.2);

        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        line-height: normal;  */
        /* background-color: red;*/
    }
    .turn_timer_text{
        font-size: 180%;
        /* position: relative; */


        margin: auto;

        margin: auto;
        color: rgb(56, 56, 56);


    }
    .test{
        width: 35%;
    }
    .black_user{
        width: 100%;
        height: 30px;
        border: solid 1px white;
        border-radius: 20px;
        margin-top: 10px;
        margin-left:10px ;
        display: flex;

    }
    .white_user{
        width: 100%;
        height: 30px;
        border: solid 1px white;
        border-radius: 20px;
        margin-top: 10px;
        margin-left:10px ;
        display: flex;
        overflow: hidden;
    }
    .black_user_name{
        color: rgb(56, 56, 56);
        margin: auto;
        margin-left: 4px;
        overflow: hidden;
        text-overflow: ellipsis; 
        white-space: nowrap;
    }
    .white_user_name{
        color:rgb(221, 238, 224);
        margin: auto;
        margin-left: 4px;
        /* width: 74%; */
        display: block;
        overflow: hidden;
        text-overflow: ellipsis; 
        white-space: nowrap;
    }
    .user_ls{
        /* display: flex;
        margin: auto;
        margin-left:4px ; */
        display: flex;
    }
    .black_user_black{
        width: 23px;
        height: 23px;
        border-radius: 50%;
        background-color: rgb(56, 56, 56);
        margin: auto;
        margin-left: 4px;
        
    }
    .whtie_user_white{
        width: 23px;
        height: 23px;
        border-radius: 50%;
        background-color: rgb(221, 238, 224);
        margin: auto;
        margin-left: 4px;
        /* margin-right: 0; */
    }

}







.first_name_warpp{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    display: flex;
    z-index: 1000;
}
.first_name_text13{
    /* margin-top:1px; */
    margin: auto;
    /* margin-left: 0; */
}
.first_screen_main{

    margin: auto;
    font-size: 300%;
}
.first_black_space{
    display: flex;
    width: 100%;
    color: rgba(41, 41, 41, 0.904);;
}
.first_white_space{
    display: flex;
    width: 100%;

    color: rgb(255, 255, 255);
}
.first_black_chip{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(41, 41, 41, 0.904);;
    /* margin-top: 8px; */
    margin-right: 20px;
}
.first_white_chip{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(221, 238, 224);
    /* margin-top: 8px; */
    margin-right: 20px;
}
.first_text_space{
    display: flex;
    width: 100%;
    color: rgb(40, 116, 106);
}
.first_join_button:hover{
    background-color: rgba(176, 192, 199, 0.504);
}
.first_join_button{
    display: flex;
    width: 115px;
    height: 48px;

    border-radius: 50px;
    font-size: 59%;
    margin: auto;
    border: solid 1px white;
    margin-top: 40px;
    cursor: pointer;
}
.first_join_button_text{
    color: rgb(245, 245, 245);

    margin: auto;
}

.first_text_space_text{
    margin: auto;
    margin-top: 10%;
    margin-bottom:10%;
}
@media (min-width:551px){
    .first_screen_main{
        font-size: 290%;
    }
    .first_black_chip{
        width: 60px;
        height: 60px;
        /* margin-top: 5px; */
        margin: auto;
        margin-right: 20px;
    }
    .first_white_chip{
        width: 60px;
        height: 60px;
        /* margin-top: 5px; */
        margin: auto;
        margin-right: 20px;
    }

}
@media (max-width:550px){

    .first_screen_main{
        font-size: 250%;
    }
    .first_black_chip{
        width: 55px;
        height: 55px;

        margin-right: 20px;
    }
    .first_white_chip{
        width: 55px;
        height: 55px;

        margin-right: 20px;
    }

}
.first_con_joinText{
    display: flex;
    /* display: none; */
    font-size: 60%;
    margin-top: 30px;
}
.first_con_join{
    margin: auto;
    color:rgb(37, 95, 87);
}
.first_fade_out {
    animation-name: fadeOut;
    animation-duration: 1s;
    opacity: 0;
    pointer-events: none;
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }


  .first_screen_main2{

    margin: auto;
    
}
.resolt_black_chip{
    background-color: rgb(41, 41, 41);
}
.resolt_white_chip{
    background-color: rgb(250, 251, 250);
}
.first_re_white_space{
    display: flex;
}
.first_re_black_space{
    display: flex;
}
.first_box_center{
    display: flex;
    margin: auto;
}
.resolt_data{
    display: flex;
    margin-bottom: 13px;
}
.resolt_data_text{
    font-size: 280%;margin: auto;
}

@media (max-width:540px){
    .first_box{
        width: 70%;
        /* max-width: 278px !important; */
        min-width: 278px;
        height: 160px;
        margin:auto;
        background-color: rgba(175, 202, 208, 0.76);
        border: solid 2px rgb(209, 222, 227);
        display: flex;
        border-radius: 15px;

    }
    .first_box{
        font-size: 270%;
        display: flex;
    }
    .resolt_black_chip{
        width: 55px;
        height: 55px;
        border-radius: 50px;
        /* margin-top: 2%; */
        margin: auto;
        margin-right: 9px;
   


    }
    .resolt_white_chip{
        width: 55px;
        height: 55px;
        border-radius: 50px;
        /* margin-top: 2%; */
        margin: auto;
        margin-right: 9px;


    }
    .first_re_white_space{
        margin-left: 12px;
    }
    .first_re_black_space{
        margin-right: 12px;

    }
}
@media (min-width:541px){
    .first_box{
        max-width:350px;
        /* max-width: 278px !important; */
        min-width: 278px;
        width: 70%;
        height: 160px;
        margin:auto;
        background-color: rgba(175, 202, 208, 0.76);
        border: solid 2px rgb(209, 222, 227);
        display: flex;
        border-radius: 15px;

    }
    .first_box{
        font-size: 270%;
        display: flex;
    }
    .resolt_black_chip{
        width: 55px;
        height: 55px;
        border-radius: 50px;
        /* margin-top: 2%; */
        margin: auto;
        margin-right: 9px;
   


    }
    .resolt_white_chip{
        width: 55px;
        height: 55px;
        border-radius: 50px;
        /* margin-top: 2%; */
        margin: auto;
        margin-right: 9px;


    }
    .first_re_white_space{
        margin-left: 12px;
    }
    .first_re_black_space{
        margin-right: 12px;

    }
}
.game_back_button:hover{
    background-color: rgba(175, 202, 208, 0.76);

}
.game_back_button{
    width: 120px;
    height:50px;
    /* background-color: red; */
    border-radius: 29px;
    margin: auto;
    margin-top: 35px;
    font-size: 170%;
    display: flex;
    border: solid 1px white;
    cursor: pointer;
    background-color: rgba(175, 202, 208, 0.533);



}
.game_back_button_text{
    margin: auto;
    /* color: rgb(77, 77, 77); */
    color: rgb(255, 255, 255);

}
.resolt_black_num{
    color: rgb(41, 41, 41);
    margin: auto;
}
.resolt_white_num{
    color: rgb(221, 238, 224);
    color: rgb(255, 255, 255);
    margin: auto;


}
.win{
    color: rgb(230, 251, 95);
    text-shadow:
    1px 1px 0px #515151, -1px -1px 0px #515151,
   -1px 1px 0px #515151,  1px -1px 0px #515151,
    1px 0px 0px #515151, -1px -0px 0px #515151,
    0px 1px 0px #515151,  0px -1px 0px #515151;
}
.lose{
    color: rgb(19, 60, 173);
    text-shadow:
    1px 1px 0px #40b0e4, -1px -1px 0px #40b0e4,
   -1px 1px 0px #40b0e4,  1px -1px 0px #40b0e4,
    1px 0px 0px #40b0e4, -1px -0px 0px #40b0e4,
    0px 1px 0px #40b0e4,  0px -1px 0px #40b0e4;


}
.first_box_warpp{
    display: flex;
    width: 100vw;
}
.win_ani {
    animation-name: win_anime;
    animation-duration: 1s;
    opacity: 1;

    
  }
@keyframes win_anime{
    0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
}