@media (min-width:630px){
    .top{
        display: flex;
        /* justify-content: space-between; */

        padding-top: 3%;
        /* position: absolute; */
    } 
    .menu{
        font-size: 250%;
        margin-right: 7px;
        top: 0;
    }
    .button1:hover{
        background-color: rgb(62, 62, 62);;

    }
    .title_main{
        position: relative;
    }
    .title_text{
        margin-top: 1.5%;
        /* padding-left: 25%; */
        display: flex;
    }
    .title_text_1{
        font-size: 300%;
        margin-left:0px;
    }
    .title_text_2{
        font-size: 400%;
        /* margin-left: 28px; */
    }
    .title_text{
        margin-left: 8px;
        margin: auto;
        text-align: center;
    }
    .menu{
        /* margin-top: 3%; */
        /* margin-right: 30px; */
        /* position:relative; */
        position:absolute;
        margin-top: 3%;
        right: 60px;
    }
    .mode_buttons{
        margin-top: 4%;
        margin-left: 0;
        padding-left: 0;

    }
    .button1{
        margin: auto;

        border-radius: 30px;
        background-color: rgb(56, 56, 56);;
        margin-bottom: 55px;

        border-top:solid 1px rgb(85, 85, 85);
        min-width: 600px;
    
    
    }
    
    .button2{
        margin: auto;
        border-radius: 30px;
        background-color: rgb(221, 238, 224);;
        margin-bottom: 55px;
        display: flex;
        min-width: 600px;

    }
    .button1_text{
        font-size: 170%;
        color: rgb(221, 238, 224);
        /* margin-left: 25px; */
        display: flex;
        padding-top: 8px;
        margin: auto;
        text-align: center;
    }
    .button2_text{
        font-size: 170%;
        color: rgb(56, 56, 56);
        margin-left: 0px;
        display: flex;
        padding-top: 8px;
        margin: auto;
        text-align: center;

    }
    .button1{
        width: 35%;
        height: 64px;
        display: flex;
        cursor: pointer;
    }

    .button2{
        width: 35%;
        height: 64px;
        display: flex;
        cursor: pointer;
    }
    .online_user_num{
        display: none;
    }
}