.canvas{
    background-color: green;
    border-radius: 10px;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
@media (max-width:630px){
    .canvas{


        width: 90%;
    }
}