
body{
    /* background-color: rgb(24, 24, 24); */
}

.canvas{
    /* background-color: green;
    border-radius: 10px;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto; */
}
@media (max-width:630px){
    .canvas{


        width: 90%;
    }
}
.main_space{
    position: relative;
}




@media (max-width:630px){
    .hop_up_result_warpp{


        width: 75%;
    }
}

@keyframes move_animation {
    0%{
        background-color: rgba(133, 202, 200, 1) ;


    }
    10%{
        background-color: rgba(133, 202, 200, 0.95) ;

    }

    100%{
        background-color: rgba(199, 226, 225, 0) ;

    
    }
}
.move_mist{
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(199, 226, 225, 1);
    /* display: none; */
    animation:move_animation;
    animation-duration:1.5s;
    background-color: rgba(199, 226, 225, 0);

}
.back_home{
    width: 40px;
    height: 40px;
    /* background-color: red; */
    position: absolute;
    margin-left: 30%;
    border-radius: 50%;
    -webkit-transform : translateY(-50%);
    transform : translateY(50%);
    cursor: pointer;
}
.back_home:hover{
    background-color: rgba(173, 232, 248, 0.208);

}
@media (min-width:630px){
    .back_button_1{
        width: 43px;
        height: 43px;
        /* background-color: red; */
        margin-top: 17px;
        margin-left: 30%;
        position:absolute;
        border-radius: 50%;
        /* background-color: rgba(144, 177, 190, 0.37); */
        cursor: pointer;

    }
    .back_button_1:hover{
        background-color: rgba(144, 177, 190, 0.37);
    }
    .back_button_rogo{
        color: rgb(221, 238, 224);
        font-size: 200%;
        font-weight: 400;

        margin-top: 4px;
        margin-left: 13%;
    }
}
@media (max-width:630px){
    .back_button_1{
        width: 43px;
        height: 43px;
        /* background-color: red; */
        margin-top: 11px;
        margin-left: 10px;
        position:absolute;
        border-radius: 50%;
        /* background-color: rgba(144, 177, 190, 0.37); */
        cursor: pointer;

    }
    .back_button_1:hover{
        background-color: rgba(144, 177, 190, 0.37);
    }
    .back_button_rogo{
        color: rgb(221, 238, 224);
        font-size: 180%;
        font-weight: 400;

        margin-top: 16%;
        margin-left: 13%;
    }
}